.link{
    background-color: #2b2a2800;
    padding: 5px;
    color:#a2a19f;
    border: 2px solid #a2a19f;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 40px;
    display:block;
    width:120px;
    margin-left: 35%;
}
.link:hover{
    background-color:#a2a19f;
    color:#2b2a28;

}